@import url(https://fonts.googleapis.com/css?family=Lora:700,700italic);

/* Default Styles */
html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lora', sans-serif;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.container {
    width: 100%;
    max-width: 700px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #3F51B5;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 40px;
    color: #3F51B5;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #3F51B5;
}

form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.form-title {
    margin-top: 40px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
    font-size: large;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    font-weight: bold;
    margin-right: 8px;
    min-width: 200px;
}

input[type="number"] {
    margin-right: 10px;
    padding-left: 10px;
    width: 100%; 
    max-width: 200px; 
    border-radius: 10px;
    height: 30px;
    border: 1px solid #3F51B5;
    color: #3F51B5;
}

input::placeholder {
    color: transparent;
}

input[type="radio"] {
    margin-top: 0;
}

.unit {
    margin-left: 10px;
    font-size: 16px;
    color: #3F51B5;
    font-weight: bold;
}

button, .button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px 20px; 
    border-radius: 15px;
    border: none; 
    background-color: #EEAECA; 
    color: #E0356A; 
    font-weight: bold;
    cursor: pointer; 
    width: 100%;
    max-width: 150px; 
    text-transform: uppercase;
}
  
button:hover, .button:hover {
    background-color: #e0356a;
    color: #FFFFFF; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

a {
    text-decoration: none;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .container {
        margin: 10px;
        padding: 15px;
        max-width: fit-content;
        font-size: 15px;
    }

    .unit {
        display: none;
    }

    .content {
        padding: 20px;
    }

    h1 {
        font-size: 1.7em;
    }

    .form-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-group label {
        margin-right: 0;
        margin-bottom: 5px;
    }

    input[type="number"], button, .button {
        width: 93%;
        max-width: none;
    }

    input::placeholder {
        color: #888;
    }

    .option-buttons {
        text-align: center;
        display: flex;
        flex-direction: column; 
        align-items: center; 
        margin-bottom: 10px; 
    }

    .option-buttons .button {
        width: 100%; 
        max-width: none; 
    }
}

@media only screen and (max-width: 480px) {
    .unit {
        display: none;
    }

    input::placeholder {
        color: #888;
    }
    
    .container {
        padding: 10px;
        max-width: fit-content;
        font-size: small;
    }
    
    .content {
        padding: 10px;
    }
    
    .option-buttons .button {
        font-size: 14px;
        padding: 8px 16px;
    }
}