<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StuntingAlert!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container content">
        <h1>Selamat Datang di Deteksi
        <em>Stunting</em> pada Balita</h1>
        <p>Silahkan pilih opsi deteksi:</p>
        <div class="option-buttons">
            <a href="{{ url_for('individu') }}" class="button">Deteksi Individu</a>
            <a href="{{ url_for('kelompok') }}" class="button">Deteksi Kelompok (CSV)</a>
        </div>
    </div>
</body>
</html>
